@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;500;900&display=swap");

.c-card {
  position: relative;
}
.c-card__ribbon {
  /* background: #f6b317; */
  padding: 12px 32px 16px 32px;
  border-radius: 16px 16px 16px 0px;
  font-family: "Zen Maru Gothic", sans-serif;
  line-height: 1;
  font-weight: 500;
  font-size: 1.16rem;
  color: white;
  padding-left: 32px;
  position: absolute;
  left: -16px;
  top: 250px;
  box-shadow: 0.7px 1.1px 6.6px -2px rgba(0, 0, 0, 0.024), 1.3px 2px 11px -2px rgba(0, 0, 0, 0.037), 1.9px 2.8px 13.3px -2px rgba(0, 0, 0, 0.048), 2.6px 3.9px 13.7px -2px rgba(0, 0, 0, 0.057), 3.9px 5.8px 13.4px -2px rgba(0, 0, 0, 0.064), 8px 12px 26px -2px rgba(0, 0, 0, 0.07);
  z-index: 2;
}

.c-card__ribbon::before {
  /* background: #f6b317; */
  display: block;
  content: "";
  width: 16px;
  height: 32px;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0 0 0 16px;
}
.c-card__ribbon::after {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4094012605) 0%, rgba(0, 0, 0, 0) 150%);
  display: block;
  content: "";
  width: 16px;
  height: 32px;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 16px 0 0 16px;
}

.novice {
  background: #f6b317;
}

.novice > .c-card__ribbon::before {
  background: #f6b317;
}

/* Primary ribbon */
.c-card__ribbon--primary {
  background-color: #4b49ac; /* Replace with your desired primary color code */
}
.c-card__ribbon--primary::before,
.c-card__ribbon--reprimaryd::after {
  background-color: #4b49ac; /* Replace with your desired primary color code */
}

/* Secondary ribbon */
.c-card__ribbon--secondary {
  background-color: #a3a4a5; /* Replace with your desired secondary color code */
}
.c-card__ribbon--secondary::before,
.c-card__ribbon--secondary::after {
  background-color: #a3a4a5; /* Replace with your desired secondary color code */
}

/* Success ribbon */
.c-card__ribbon--success {
  background-color: #57b657; /* Replace with your desired success color code */
}
.c-card__ribbon--success::before,
.c-card__ribbon--success::after {
  background-color: #57b657; /* Replace with your desired success color code */
}

/* Danger ribbon */
.c-card__ribbon--danger {
  background-color: #ff4747; /* Replace with your desired danger color code */
}
.c-card__ribbon--danger::before,
.c-card__ribbon--danger::after {
  background-color: #ff4747; /* Replace with your desired danger color code */
}

/* Danger ribbon */
.c-card__ribbon--warning {
  background-color: #ffc100; /* Replace with your desired warning color code */
}
.c-card__ribbon--warning::before,
.c-card__ribbon--warning::after {
  background-color: #ffc100; /* Replace with your desired warning color code */
}

/* Info ribbon */
.c-card__ribbon--info {
  background-color: #248afd; /* Replace with your desired info color code */
}
.c-card__ribbon--info::before,
.c-card__ribbon--info::after {
  background-color: #248afd; /* Replace with your desired info color code */
}

/* Dark ribbon */
.c-card__ribbon--dark {
  background-color: #282f3a; /* Replace with your desired dark color code */
}
.c-card__ribbon--dark::before,
.c-card__ribbon--dark::after {
  background-color: #282f3a; /* Replace with your desired dark color code */
}